<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MangaApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Chats
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/FpO-CSNcqsXliZBNpuhtY56BWakexy1EHmR0Qwn-h5s4opENrXxgj5_a9Pw0UCTvEi8adeQ70Rrl2sz6zH0nXxmYhXy0VKtx8zJf1L0NWry88_GswUwPUdqafzJmrWeInPFdPM7MO8Bsmtm0SpatEpNmysYmuQbx9EoLArwm_rqqOd4oi84b8eZt82WsTgG29QJiV2-1JtuQKGmYRi3meX0kwLO2i17G2_dF_V3vka3yS3CAdU1dlHMI9bgXioUkTGqRbfdK8_IfE3fpzrRxjS0DNSp9Dk8Z0oQLHPXXVlqYRoDhtjJVwGCb7E1EyNUHMymZu8sxeekVn3BwUaWtp_F2b0jHmSNlcHpzUzDDUCvZparfWPKW6q2uY9wLoDX-VZ5CLV6Yjc5w1Y5WGoXjq4fUd1RXECjT00IADi7RQa5lH3D3_qqv0a9L1uIWcE8MkmwciLAhD0iaPuFvoXSTYAxb4Aee5eFxVmjOJz4eG3YwoVWcdteYOLvCqsoz3Wzv8CjZMktnjv48C3A0FMVqjmkG1NvmJgFIshRVPPjTerrn99LN-c3yJYf5hTMoVmSKf21iVYf6HyrOhbDSz7vUeKg9mIQXtrH-YU45g8A-uuKNyyVfIsUqAn14CsmRvaEiuEKOQi7woF-rCQI4ADYlyXBMhYtOyBRUZR-XUhyPO7AuaMb_v0J9vOGGd14ym0hgbnQfNgf1yYMWeUjMLJa3pkol7g=w736-h382-no?authuser=0">
      </ion-avatar>
      <ion-label>
        <h2>Natura </h2>
        <h3>Disse o Corvo, “Nunca mais.”</h3>
        <p>Cade vc????</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/qIpYAtdXQSKCitiDX95lvHr3MsKO30h26G8xQkP4ERmEIgfidzzxk38qnUKDftr56aazSRJy8nOZByIdbQAZXwOv9k6kfCUu4_m1a38YdMHug0gRDejYD3vxnsSUaiHjO_9Cv7VVO0zccBxReiIwmh9im6q11cTuvhvao8aWtZnY1Mm5fwRA3I7xdiCsxahGwEJOi0gX3wCFpFgxmPO3HO2j-W3rSEOlqfnj6HCT675tiHaBXCBT2qbFNB8H21T7KBY11Wb8kN32Uqp1AxvqHgXZdMYHLJjIBnRWwKnj5wXMBpeUcv29oUAcoqSiJh7bfGuYi4cyklwaLd5eVGwelagZ92cd8dPud1W9gEIGmKGXPza5vG1NYDr3JINfX_w5jgOBAsWb5bGWzXlC7w_y4ISnoPZV2r-tMCtBeLPszVzv-NEN5bMlLRufwvAViIrDKk9QTuaTaH2bL2QBBzsvpS85o8dOcoX7Wdm7PeY90tA8gOzIY0o8YzPvuVC-kFk89Ac6GLI5tLuIgeuToqzzqsutzb-_mPnH_MkuOwe-KtTHfbTpTMwg-EP7G6iHinNxt4UYx-LyvllWB1P0luYqKWV8T1z49RGg5BGC56o-pnfN_bSnaDEs1MowhRii1fSvLTVwWX-fOU1a-L3MsJTIVVpTIC1oy7LoI8rzLw51ROZHy6sgmU7kIHFToEmSvMAidfCYF4hqjAMe-DeEMGVh5ieFSA=s554-no?authuser=0">
      </ion-avatar>
      <ion-label>
        <h2>Hades</h2>
        <h3>Sometimes we win, someties we learn...</h3>
        <p>Mano bora ir na cafeteria do tio ronan?</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/wH509AqwfkYeiQ0q3cc-QJ7be9VQQx4a5xzWU60U7BBrtjo_BIRg4tji9nya-rwYjIQEv_aSSmscLK1k6jC24ESrnNMWYM91bA2ggOOig9szRFpeQ8O0PTKfilgyj14C6b2ruSzcUFGWpOW8zbxfIs_lfhTcgpLmcrM34ZFRlHfVR1WmBKJMD6VPcVQDzNHrjirnCsJ8XcWz0qQNWQlBlj0hrf05CIGmRZPWE6WYEfYXng7tyG-lZaW6vCwRUU2rl-VFGTa5fdq8uiXZAa_pauRHhc0AuOQbMZt76UNt47ABJiM5WqnY8b0A1RTB7IBdUVKktwhh41tXTqJ10tP4BrcG65_nP-g--UGSsb7gG9tbrBa6Zu9xFh0B-0rE3tztlhuXoYUr5qRrJ4bSpGYR7krnAqT1CSUJ2vD3J-ELFHlKnJLv_g-5mbpDpvT79onmcjb_v_lihfx0XHkWCJpNrSIZDK1UW0jPqOQF96TFKLPTlOvxZaVMlDAZ97Pm6GC-pzMpzkKXMd-n1UZYjfwyzBe3NXJtg1XiXUGwWKM7rSFjJ0vvPuTV_4U0YIYI1E2c4JQBYNiYksURSbpqg1yTiT8VB-zBRwh-By7v5oPMIMdv8JOtBKmS86rsSSrZC_mfYglZEhF0HjTJeI9K-k6d-oqTvhnxGquJU1k7YoEKNI9U1MGU_iMx9VXd7hi2jyJbojA0BMGZ8VLbINhNxTfl_mO-Hg=w556-h551-no?authuser=0">
      </ion-avatar>
      <ion-label>
        <h2>Nero</h2>
        <h3>I will be there for you</h3>
        <p>vamos na cafeteria? eu vc e o hades</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/7C4e_yatNb78Kwkqm1aiB_Tomj9ioOyHs7Ayf8zGnikKME6pgWn-SVdfaKYzrFtnkV3oW9lET8G3d2xpiBb0Bwr-D9DfgR0uBrvkjuk9a3ggaMWa87T2IYkjO4Xa67Kc3C-VAMbJtcjCe89wRm2F22CWfijshFQG77gatyRgI57t2jBb_SwsB1MCN282n2W7p49SFZm6ecvJJeR8dtkoV5jIRn1VI7JHRJgskVlOn15OyvR2SDv3sesn5I6u8xwlEMEzFAgNczQKJPzcUeLkcR8o4drVy04dIeRHLvD3NudNXpREo8ZG_zKqz0iamaoHusu-eVrPNbIrONHah5ymGEN75WTFANrEgCZQ5PNP8uScSmHI_fm7EhUPuumdDKWFTT6VtnT6FQQlbB6jMzWEiawp7v3vTyvt8T_WHI87lW0XsO3-Jr_mNC7s7CYWig39gIcysGThjhCWl-RVuAIBo8uOWf2m-ywk9UhbB24h1rWjKXmfKXenA26sABaCn21PPagRWlV5EFGr9z1hWBURJAF0VYpb47jzicwIN8M5CTNMURimz04TwWEyboYt1_Bp-JqLaP32LF3KIYwS8LKLnHg6959v3YND1AdPYnUwiTgXMTbR7SUr-5FKq6DJQrVAj0kBCpJnl5qgdpZMBGT6Rgf-30V4CHrcrxKkRMla23EAFO7zCp-0FgN9jpOi4dnpTv01-Hxn1swKJYNTiP7bL_YsMw=s657-no?authuser=0">
      </ion-avatar>
      <ion-label>
        <h2>Sofie</h2>
        <h3>A whole new world</h3>
        <p>vc viu o howl?</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
